.login__form{
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
}
.login__header{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.login__imagem{
    border-radius: 20px;
    height: 270px;
    width: 480px;
}
.login__header h1{
    color: #333;
    font-size: 1.5rem;
    margin: 2rem auto;
}
.login__input{
    border: 2px solid #333;
    border-radius: 20px;
    color: #333;
    margin-bottom: 1rem;
    max-width: 300px;
    padding: .5rem 1rem;
    width: 100%;
}
.login__button{
    background: #ee665c;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    max-width: 300px;
    padding: .5rem 1rem;
    width: 100%;
}
.login__button:disabled{
    background: #eee;
    color: #aaa;
    cursor: auto;
}